.nav-search {
  position: relative;
  flex: 1;
}

.nav-search input {
  --icon-pos-x: var(--fs-400);
  --padding-left: calc(var(--fs-nav) + var(--icon-pos-x) + 1em);
  --padding-tb: var(--size-300); /* top and bottom */
  background-color: var(--clr-accent-700);
  background-image: url('./search-icon.svg');
  background-position: var(--icon-pos-x) var(--padding-tb);
  background-size: repeat(2, var(--fs-nav));
  background-repeat: no-repeat;
  padding: var(--padding-tb) 0.75em var(--padding-tb) var(--padding-left);
}

.nav-search input::placeholder {
  opacity: 1;
}

@media (max-width: 50em) {
  .nav-search {
    width: 100%;
  }
}
