body::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("./top-decoration.svg");
  background-position: right calc(var(--size-800) * -1) top
    calc(var(--size-700) * -1);
  background-repeat: no-repeat;
  background-size: calc(var(--size-900) * 4.5) auto;
}
